<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ .Title }}</title>
    <meta name="description" content="">
    <meta name="theme-color" content="#252525">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Amiri" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Roboto+Mono:100,300,400" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/normalize.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/skeleton.css">
<head>
